# Mac
.DS_Store

#VS Code
.vscode/
.project
.settings/

#Java
.classpath

#Maven
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes